.searchBar {
    width: 100%;
    background-color: var(--card-bg);
    height: 3.3rem;
    border-radius: 25px;
    border: none;
    outline: 0;
    padding-left: 3rem;
    color: var(--primary);
    font-size: 1.3rem;
    ::placeholder {
        color: var(--primary);
        opacity: 1;
    }
    ::-webkit-input-placeholder {
        /* Edge */
        color: var(--primary);
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--primary);
    }
}
