.headerContainer {
    background-color: var(--primary);
    height: 6.5rem;
    width: 100vw;
    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--gray-100);
    justify-content: center;
    h1 {
        font-family: 'lato';
        color: var(--secondary);
    }
}
